.job {
  /*color: red;*/
  width: 300px;
  height: 40px;
  margin: 0 auto;

  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
}

.job:hover {
  background-color: #DEDEDE
}

.job span {
  width: 40px;
  cursor: pointer;
}

.todo-input {
  width: 400px
}

.wrapper{
  width: 400px;
  margin: 0 auto;
}